
.main-game-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-game-hud {
    width: 100%;
    height: 10%;
    position: fixed;
    bottom: 0;
    left: 0;

    background-color: rgba(0, 0, 0, 0.5);

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 100px;

    z-index: 10;
}

.main-game-hud .ui-card {
    background: lightgray;
    padding: 10px 20px;
    border-radius: 25px;
    min-width: 100px;
    text-align: center;
}

.ui-card .ui-card-title {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: Satoshi, sans-serif;
    margin: 0;
}

.ui-card .ui-card-label {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: Satoshi, sans-serif;
    margin: 0;
}

.main-game-ui {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main-game-ui .ui-select-country-container {

}

.main-game-ui .ui-select-country-container .ui-select-country {
    padding: 10px 15px;
    font-family: Satoshi, sans-serif;
}

.main-game-popup {
    display: none;

    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.5);
    z-index: 11;

    justify-content: center;
    align-items: center;
}

.ui-flight-container {
    display: none;

}

ui-selection-label {
    margin-top: 20px;
    margin-bottom: 10px;
    color: #333;
    font-size: 1.2rem
}

.airplane-selector {
    display: flex;
    gap: 10px;
    margin: 15px 10px;

}

.plane-card {
    flex: 1;
    border: 2px solid #ccc;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    transition: 0.3s;
    display: flex;
    flex-direction: column;
}

.plane-card:hover {
    border-color: #666;
    background-color: #f9f9f9;
}

/* Tyyli, kun laatikko on valittuna */
.plane-card.selected {
    border-color: #2ecc71; /* Vihreä reuna */
    background-color: #eafaf1;
    box-shadow: 0 0 10px rgba(46, 204, 113, 0.3);
}

.plane-name { font-weight: bold; display: block; }
.plane-speed, .plane-capacity { font-size: 0.8em; color: #666; }

#ui-bribe-screen {
    display:none;
    text-align: center;
    border: 2px solid red;
    background-color: #ffeeee;
    padding: 20px;
    margin-top: 20px;
}

#ui-success-screen {
    display: none;
    text-align: center;
    border: 2px solid gold;
    padding: 20px;
    margin-top: 20px;
}

#success-sales-message {
    font-size: 1.2rem;
    font-weight: bold;
    color: green;
}

#country-image {
    max-width: 400px;
    border-radius: 10px;
    margin-bottom: 15px;
}

#btn-return-home {
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}